.caption
  .container: .row: .col-md-6.offset-md-3
    h3 404 - Page not found
section.container
  .row: .col-md-6.offset-md-3
    h3 Whoops. Looks like what you're looking for can't be found.
    p Quizas queria volver a la 
      a(href="/lomas-altamira-33/") pagina principal