.caption
  .container
    .row
      .col-sm-12
        h1 Un espectacular tesoro escondido en el centro de la ciudad.
    .row.content
      .col-sm-7.col-md-8.col-lg-8.col-xl-9
        p Una magnífica propiedad residencial y comercial, diseñada con acabados de lujo, situada en el corazón de una de las más exclusivas comunidades residenciales, comerciales y de entretenimiento de El Salvador. 
      .col-sm-5.col-md-4.col-lg-4.col-xl-3
        a.button(href="/contactenos") CONTACTENOS
.container
  section.row
    .col-md-12: h3 LOMAS ALTAMIRA 33
    .col-lg-6
      img(src="img/lobby.png")
    .col-lg-6
      p Ubicada en uno de los más prestigiosos vecindarios de San Salvador, nuestra propiedad LOMAS ALTAMIRA 33 se encuentra lista para ser transformada en una residencial de lujo, un hotel de alto nivel, un prestigioso complejo de edificios médicos, oficinas corporativas o educacionales. 
      p A unos cuantos pasos del Blvd. Los Próceres y diseñado por un aclamado grupo de construcción multinacional, nuestro complejo de edificios excede los estándares de seguridad y calidad nacionales e internacionales.
  section.row
    .col-sm-12: h3 EL SERENO
    .col-md-6
      img(src="img/neighborhood.jpg")
    .col-md-6
      | Sus jardines, su diseño y construcción minimalista le permiten a este complejo de 4 edificios de 9,239 m2 reflejar el refinamiento y sofisticación propios de la histórica comunidad en la que ha sido construido. Sus futuros ocupantes se sentirán en calma, protegidos por la gran pared cubierta de hiedra y sus portones de metal ornamentado que separan este oasis de serenidad de la gran ciudad que los rodea.
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS
  section.row
    .col-sm-12: h3 EL REFINADO
    .col-md-6
      img(src="img/neighborhood.jpg")
    .col-md-6
      | Un escritorio de recepción de madera, pisos de piedra pulida e interminables ventanas enmarcadas con madera le dan a nuestro complejo de edificios un diseño artístico, sin olvidar la modernidad, en todas sus áreas públicas. Candelabros complementan el flujo de luz natural para crear un espacio de trabajo y entorno de vida refinado sin perder el ambiente acogedor.
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS
  section.row
    .col-sm-12: h3 EL FUNCIONAL
    .col-md-6
      img(src="img/transportation.jpg")
    .col-md-6
      p Además de sus tres niveles de 12 apartamentos estilo residencia con instalaciones de baños privados, nuestra propiedad cuenta con 12 oficinas. El garaje bajo techo posee un espacio hasta para mas de 75 vehículos y el área de carga está equipada para tráileres. (Transporte pesado)
      p Una cocina estilo restaurante completamente funcional y una sala de comedor lista para más de 200 comensales.
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS
  section.row
    .col-sm-12: h3 EL PRÁCTICO
    .col-md-6
      img(src="img/transportation.jpg")
    .col-md-6
      p La innovación y la durabilidad se pueden apreciar en cada aspecto del diseño de los edificios. Agua caliente accionada por el sol, filtración ultravioleta del agua, generadores eléctricos de emergencia, cuartos fríos para refrigeración, televisión de circuito cerrado, y una torre de vigilancia son solo algunas de las comodidades que prueban que esta es una propiedad diseñada para brindar un estilo de vida moderno, sofisticado y práctico.
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS    
  section.row
    .col-sm-12: h3 LO MEJOR DE EL SALVADOR A TU ALREDEDOR
    .col-md-8
      p Fundada como la capital del país en 1840, San Salvador es una ciudad globalizada donde la historia, la experiencia y las oportunidades convergen, por lo que es un lugar privilegiado para el crecimiento y el desarrollo.
      p Es el hogar del Estadio más grande a nivel Nacional, el Estadio Cuscatlán, así como de algunos de los edificios más altos del país.
      p San Salvador disfruta de la distinción de ser uno de los Centros financieros de Centroamérica, y es el centro cultural, político y educativo de El Salvador.
      p Como el centro metropolitano, San Salvador, cuenta con un ingreso per cápita seis veces superior al promedio nacional. 
      p Nuestra propiedad LOMAS ALTAMIRA 33 se encuentra en las cercanías de los vecindarios más renombrados de El Salvador. A unos pocos kilómetros en vehículo de la Zona Rosa, Multiplaza, Gran Via y a minutos de la zona industrial Plan de la Laguna y Merliot
      p Con incontables museos y restaurantes, además del teatro más antiguo de Centroamérica, San Salvador es la ciudad donde el arte y la cultura convergen.
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS   
    .col-md-4
      img(src="img/transportation.jpg")  
  .row
    .col-sm-12: h3 ESPECIFICACIONES DE LA PROPIEDAD:
    .col-md-6
      ul
        li Área total del terreno: 7,684 m²
        li Área de Construcción: 9,239 m²
        li Complejo de Cuatro Edificios
        li 12 Oficinas Independientes
        li 3 niveles de 12 residencias estilo apartamento con instalaciones de baños privados
        li Parqueo bajo techo para más de 75 vehículos
      h3 GALERIA
      .gallery
        a(href='img/gallery/area.jpg', data-lightbox='image-1', data-title='Vista Aerea')
          img(src='img/thumbs/area.jpg', alt='image')
        a(href='img/gallery/edificio-c.jpg', data-lightbox='image-2', data-title='Edeficio C')
          img(src='img/thumbs/edificio-c.jpg', alt='image')
        a(href='img/gallery/lobby.jpg', data-lightbox='image-3', data-title='Lobby')
          img(src='img/thumbs/lobby.jpg', alt='image')
        a(href='img/gallery/pasillo-lobby.jpg', data-lightbox='image-4', data-title='Pasillo Lobby')
          img(src='img/thumbs/pasillo-lobby.jpg', alt='image')
        a(href='img/gallery/recepcion.jpg', data-lightbox='image-5', data-title='Recepción')
          img(src='img/thumbs/recepcion.jpg', alt='image')
        a(href='img/gallery/area.jpg', data-lightbox='image-1', data-title='Vista Aerea')
          img(src='img/thumbs/area.jpg', alt='image')
        a(href='img/gallery/edificio-c.jpg', data-lightbox='image-2', data-title='Edeficio C')
          img(src='img/thumbs/edificio-c.jpg', alt='image')
        a(href='img/gallery/lobby.jpg', data-lightbox='image-3', data-title='Lobby')
          img(src='img/thumbs/lobby.jpg', alt='image')
        a(href='img/gallery/pasillo-lobby.jpg', data-lightbox='image-4', data-title='Pasillo Lobby')
          img(src='img/thumbs/pasillo-lobby.jpg', alt='image')
        a(href='img/gallery/recepcion.jpg', data-lightbox='image-5', data-title='Recepción')
          img(src='img/thumbs/recepcion.jpg', alt='image')
    .col-md-6
      .map
      .contactus-button
        a.button(href="/contactenos") CONTACTENOS
  
      .contactinfo
        p Regional Construction / Design Department - Americas PRI
        p Departamento Regional de Diseño y Construcción de America
        p Email: 
          a(href="mailto:lomasaltamira33@gmail.com") lomasaltamira33@gmail.com
        p Tel. +503 7403 6266
